{% load static %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Hogwarts House Points</title>
		<link rel="stylesheet" type="text/css" href="{% static 'housePointsApp/style.css' %}" />
	</head>
	<body>
		<div class="title black box">
			<h1>Hogwarts House Points</h1>
		</div>
		<div class="white box">
			<form method='POST' action="{% url 'addPoints' %}">
				{% csrf_token %}
				<label for="houseName">House: </label>
				<select id=houseName name=houseName>
					<option value='' name=''></option>
					<option value='Slytherin' name='Slytherin'>Slytherin</option>
					<option value='Ravenclaw' name='Ravenclaw'>Ravenclaw</option>
					<option value='Hufflepuff' name='Hufflepuff'>Hufflepuff</option>
					<option value='Gryffindor' name='Gryffindor'>Gryffindor</option>
				</select>

				<input type="radio" id="add" name="operation" value="add">
				<label for=add>+</label>
				<input type="radio" id="sub" name="operation" value="sub">
				<label for=sub>-</label>
				<input type="number" id="points" name="points" placeholder="Points">
				<input type="number" id="students" name="students" placeholder="Students">

				<input type=submit value=GO>
			</form>
		</div>
		{% for house in houses %}
		<div class="{{house.color}} box">
			<p>{{house.name}}</p> <p>{{house.points}} Points</p> <p>{{house.students}} Students</p>
		</div>
		{% endfor %}
		<a href="{% url 'reset' %}">
			<div class="white box">
				RESET
			</div>
		</a>

	</body>
</html>
